.cafe-order {
    margin-left: 200px;
}

.cafe-order-icon {
    width: 20%;
}

.item-cafe-payment {
    background-color: chocolate;
    border-radius: 8px;
    height: 20;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

th {
    background-color: saddlebrown;
    color: white;
}

th,
td {
    padding: 20px;
    text-align: center;
}